.footer {
  &__top {
    background-color: #2a3944;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #fff;

    .footer__services {
      a {
        color: #fff;
      }
    }
  }

  &__bottom {
    background-color: #2c4150;
    color: #edaa3d;
    padding: 1rem;
  }

  &__logo {
    width: 19.5rem;
  }
}